body {
  margin: 0;
  padding: 0;
}

.article {
  width: 36em;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
}

@media only screen and (max-width: 320px) {
  .article {
    font-size: 16px;
  }
}

@-ms-keyframes wiggle{0%{-ms-transform:rotate(6deg);}50%{-ms-transform:rotate(-6deg);}100%{-ms-transform:rotate(6deg);}}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(6deg);}50%{-moz-transform:rotate(-6deg);}100%{-moz-transform:rotate(6deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(6deg);}50%{-webkit-transform:rotate(-6deg);}100%{-webkit-transform:rotate(6deg);}}
@keyframes wiggle{0%{transform:rotate(6deg);}50%{transform:rotate(-6deg);}100%{transform:rotate(6deg);}}

.wiggle-me:hover{-ms-animation:wiggle .3s 6;-moz-animation:wiggle .3s 6;-webkit-animation:wiggle .3s 6;animation:wiggle .3s 6;}

@-ms-keyframes wiggle2{0%{-ms-transform:rotate(3deg);}50%{-ms-transform:rotate(-3deg);}100%{-ms-transform:rotate(3deg);}}
@-moz-keyframes wiggle2{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle2{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}
@keyframes wiggle2{0%{transform:rotate(3deg);}50%{transform:rotate(-3deg);}100%{transform:rotate(3deg);}}

.wiggle2-me:hover{-ms-animation:wiggle2 .2s 1;-moz-animation:wiggle2 .2s 1;-webkit-animation:wiggle2 .2s 1;animation:wiggle2 .2s 1;}
		
.app {
  text-align: center;
  background: radial-gradient( rgba(255,0,0,0),  rgba(245, 184, 184, 0.774));
}

.card, .navbar-links, .nav-link, .badge {
  margin: 0.3em;
}

.card-footer {
  padding-left: 10px;
  padding-right: 10px;
}

.card-body {
  padding-left: 10px;
  padding-right: 10px;
}

.card-blockquote {
  margin-bottom: 0px;
}

.list-inline {
  margin-bottom: 0px;
}

.footer-margin {
  margin-top: 0.3em;
}

.article-info {
  margin: 0.3em;
}

.comment-input {
  margin: 0.3em;
  width: 75%;
}

.footer-color {
  background: radial-gradient( rgba(255,0,0,0),  rgba(248, 134, 182, 0.774));  
}

.article-page-color {
  background: radial-gradient( rgba(255,0,0,0),  rgba(154, 201, 255, 0.774));  
}

.homepage-article-color {
  background: radial-gradient( rgba(255,0,0,0), rgba(154, 255, 205, 0.774));
}

.article-list-color {
  background: radial-gradient( rgba(255,0,0,0), rgba(169, 154, 255, 0.774));
}

.user-article-card-color {
  background: radial-gradient( rgba(255,0,0,0), rgba(255, 211, 154, 0.774));
}

.comment-color {
  background: radial-gradient( rgba(255,0,0,0), rgba(231, 231, 231, 0.774));
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
